.chat {
  background-color: antiquewhite;
}

.message-wrapper.enter-active {
  opacity: 0;
  height: 0;
}

.message-wrapper.enter-done {
  opacity: 1;
  height: auto;
  transition: 1s;
  /* transition: cubic-bezier(0.075, 0.82, 0.165, 1); */
  /* transition: opacity 500ms ease-in; */
}